/*
	CR Team - Professional Web Designer
*/
.tooltip {
	opacity: 1;
}
h2 .btn.btn-link {
	width: 100%;
	text-align:left;
	font-size: 14px;
}
h2 .btn.btn-link:hover,h2 .btn.btn-link:focus {
    color: #0056b3;
    text-decoration: none;
}
.card {
	margin-bottom: 1px;
}
.card-header {
	padding: .35rem 1rem;
}