/*
	CR Team - Professional Web Designer
*/
body {
    width: 100%;
    height: 100%;
    /* font-family: 'Open Sans', sans-serif; */
	font-family: 'Lora', serif;
	/* font-family: Tahoma, Arial, san-serif; */
    color: #2f2f2f;
	font-size: 15px;
	overflow-y: scroll;
	position: relative;
	background: #f3f3f3;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
input {
	outline: 0;
}
html {
    width: 100%;
    height: 100%;
}
a, a:hover, a:focus {
	text-decoration: none;
}
a:hover {
	color: #f58220;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px;
    font-weight: 400;
}
p {
    margin: 0 0 15px;
    line-height: 1.5;
}
* {outline: 0;}
@media(min-width: 1200px) {
    .container {
		max-width: 1200px;
	}
}
@media(min-width:767px) {
    p {
        margin: 0 0 10px;
        line-height: 1.6;
    }
}
a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #666;
}
a img {
    border: none;
}
img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}
:-ms-input-placeholder {
   color: #ccc;
}
.fleft {float: left}
.fright {float: right}
.center {text-align: center}
.align-right {text-align: right;}
.align-left {text-align: left;}
.img-holder {
	width: 100%;
}
#header {
    margin-bottom: 10px;
    position: relative;
}
#header .inner-header {
    background-color: #fff;
    background-image: none;
}
#header .inner-header {
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
#header .inner-header .container {
    padding: 30px 0;
}
#header .inner-header .container {
    padding: 10px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.container.has-banner #logo {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
}
.container.align-left-logo #logo {
    text-align: left;
}
#logo a {
    max-width: 240px;
	display: inline-block;
    vertical-align: top;
}
#logo a img {
	max-width: 120px;
}
.container.has-banner .header-banner {
    display: table-cell;
    vertical-align: middle;
    width: 770px;
    text-align: right;
}
.featured-area {
    margin-bottom: 30px;
    position: relative;
	padding: 15px 0;
}
.featured-area:before, .featured-area:after {
    content: '';
    display: table;
    clear: both;
}
.featured-area.featured-style-14 .wrapper-item-classess, .featured-area.featured-style-20 .wrapper-item-classess, .featured-area.featured-style-21 .wrapper-item-classess, .featured-area.featured-style-22 .wrapper-item-classess, .featured-area.featured-style-23 .wrapper-item-classess, .featured-area.featured-style-25 .wrapper-item-classess, .featured-area.featured-style-26 .wrapper-item-classess, .featured-area.featured-style-27 .wrapper-item-classess {
    width: calc(100% + 4px);
    margin-left: -2px;
}
.featured-style-26 .wrapper-item .penci-item-mag {
    float: left;
    display: inline-block;
    width: 25%;
    position: relative;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.featured-style-26 .wrapper-item .penci-item-1 {
    width: 50%;
}
.penci-item-mag {
    position: relative;
}
.penci-image-holder {
    position: relative;
    width: 100%;
    background: #f5f5f5;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.penci-owl-carousel .owl-item .owl-lazy {
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.featured-style-26 .penci-item-1 .penci-image-holder:before {
    height: 480px;
}
.featured-style-26 .penci-image-holder:before {
    padding: 0;
    height: 238px;
}
.penci-image-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6667%;
    background: none !important;
    box-shadow: none !important;
}
.penci-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.penci-slide-overlay .overlay-link, .penci-slider38-overlay {
    opacity: 0.8;
}
.penci-slide-overlay .overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, transparent 60%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 60%, #000 100%);
    background: -o-linear-gradient(top, transparent 60%, #000 100%);
    background: -ms-linear-gradient(top, transparent 60%, #000 100%);
    background: linear-gradient(to bottom, transparent 60%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    -webkit-transition: opacity .4s ease 0s;
    -moz-transition: opacity .4s ease 0s;
    -o-transition: opacity .4s ease 0s;
    transition: opacity .4s ease 0s;
    opacity: 0.7;
}
.featured-area .active .penci-mag-featured-content, .featured-style-7 .penci-mag-featured-content, .featured-style-8 .penci-mag-featured-content {
    opacity: 1;
}
.penci-slide-overlay .penci-mag-featured-content {
    position: absolute;
    bottom: 16px;
    left: 20px;
    padding-right: 20px;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    width: calc(100% - 20px);
}
.penci-mag-featured-content .cat {
    margin-bottom: 6px;
}
.penci-mag-featured-content h3 {
    line-height: 1.3;
	font-size: 16px;
}
.penci-mag-featured-content h3 a {
    color: #fff;
    font-size: 16px;
}
.featured-style-26 .penci-item-1 .penci-mag-featured-content h3 a {
    font-size: 22px;
	color: #fff;
}
.penci-featured-content .feat-text h3 a, .featured-style-35 .feat-text-right h3 a, .featured-style-4 .penci-featured-content .feat-text h3 a, .penci-mag-featured-content h3 a, .pencislider-container .pencislider-content .pencislider-title {
    text-transform: none;
    letter-spacing: 0;
}
.featured-style-26 .wrapper-item .penci-item-2, .featured-style-26 .wrapper-item .penci-item-3 {
    border-bottom: 4px solid transparent;
}
.penci-item-mag:hover .penci-slide-overlay .overlay-link {
    opacity: 0.9;
}
.home-featured-cat .cat-primary {
	position: relative;
	margin-bottom: 15px;
}
.home-featured-cat .cat-primary .cat-title {
	position: absolute;
	right: 8px;
	left: 8px;
	bottom: 8px;
	z-index: 2;
}
.cat-smaller .row {
	margin-left: -5px;
	margin-right: -5px;
}
.cat-smaller .col-md-6 {
	padding: 0 5px;
}
.cat-title h3 {
	margin: 0;
}
.cat-title a {
	color: #fff;
}
.cat-smaller .cat-title a {
	
}
.cat-smaller .cat-title a h3 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #2f2f2f;
	border-left: 3px solid #2f2f2f;
	padding-left: 5px;
}
.cat-smaller li a {
	display: block;
    color: #2980b9;
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    border: 1px dashed #e8e8e8;
    padding: 7px;
    margin-bottom: 6px;
    font-size: 15px;
}
.cat-smaller li a:hover {
	background: #f3f3f3;
}
.cat-smaller li img {
	max-width: 18px;
}
.cat-smaller i.fa {
	width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    /*border: 1px solid #d8920e;*/
    border-radius: 99px;
    line-height: 18px;
	margin-right: 5px;
}
/* Sidebar mobile style */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.section-title h3 {
	border-bottom: 2px solid #cc7b03;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.article {
    overflow: hidden;
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.article-thumb {
	float: left;
    margin-right: 20px;
    position: relative;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
	border-radius: 999px;
    overflow: hidden;
}
.image-holder {
	position: relative;
    width: 100%;
    background: #f5f5f5;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.image-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
    background: none !important;
    box-shadow: none !important;
}
.article-thumb .fix-size {
	width: 48px;
}
.article-title h4 {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 5px;
	color: #5f5f5f;
}
.article-title a:hover h4 {
	color: #333;
}
.article-date {
	font-size: 10px;
	color: #cc7b03;
}
.vc_separator {
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.vc_sep_pos_align_center {
    margin-left: auto;
    margin-right: auto;
}
.vc_sep_width_60 {
    width: 60%;
}
.wpb_content_element {
    margin-bottom: 35px;
}
.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.vc_separator.vc_sep_color_orange .vc_sep_line {
    border-color: #F7BE68;
}
.vc_separator h4 {
    line-height: 1em;
    font-size: 100%;
    margin: 0;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
	color: #2980b9;
	padding: 0 .8em;
	text-align: center;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar_mobile {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar_mobile.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar_mobile .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar_mobile ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar_mobile ul p {
    color: #fff;
    padding: 10px;
}

#sidebar_mobile ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar_mobile ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar_mobile ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* End Sidebar mobile style */

.penci-breadcrumb {
    line-height: 1.4;
    margin: 30px 0;
}
.penci-breadcrumb span, .penci-breadcrumb span a {
	font-size: 13px;
	color: #b3b3b3;
}
.penci-breadcrumb i {
    color: #888;
    font-size: 13px;
    margin: 0 15px 0 19px;
}
.archive-box {
    background: none;
    margin: 0 0 15px 0;
    position: relative;
    text-align: left;
}
.penci-grid li.list-post {
    display: inline-block;
    vertical-align: top;
    float: left;
    list-style: none;
	width: 100% !important;
    margin-right: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #DEDEDE;
}
.penci-grid li.list-post .item>.thumbnail {
    display: inline-block;
    position: relative;
	margin: 0;
    width: 48.052%;
    float: left;
    max-width: 370px;
}
.penci-grid li.list-post .item .content-list-right {
    margin: 0;
    padding-left: 400px;
}
.list-post .header-list-style {
    position: relative;
    padding-bottom: 0;
}
.penci-grid li .item .cat, .penci-masonry .item-masonry .cat {
    color: #6eb48c;
    display: block;
    margin-bottom: 8px;
}
.cat>a.penci-cat-name {
    font-size: 12px;
    color: #2196f3;
    line-height: 1.2;
    margin: 0 18px 0 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    background: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    font-weight: normal;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
}
.archive-box span, .archive-box h1 {
    letter-spacing: 1px;
    color: #313131;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2em;
    position: relative;
    z-index: 10;
}
.archive-box h1 {
    display: inline-block;
    color: #2196f3;
}
h2.entry-title {
	line-height: 1;
	font-size: 24px;
}
.penci-grid li .item h2 a, .penci-masonry .item-masonry h2 a {
    font-size: 18px;
    color: #313131;
	font-weight: 700;
}
.grid-post-box-meta {
	font-size: 12px;
	margin: 12px 0 0;
}
.grid-post-box-meta span {
    color: #888;
}
.grid-post-box-meta span:after {
    content: "";
    width: 1px;
    height: 10px;
    background: #DEDEDE;
    margin: 0 11px 0 15px;
    border-right: 1px solid;
    background: none !important;
    opacity: 0.6;
    display: inline-block;
}
.grid-post-box-meta span:last-child:after {
    content: none;
    display: none;
}
.grid-post-box-meta span a {
    color: #313131;
}
.penci-grid li .item .item-content {
    margin-top: 18px;
    text-align: left;
}
.penci-grid li .item p {
    margin-bottom: 0;
}
.pages .article-thumb {
	margin-right: 8px;
}
.pages .article-thumb .fix-size {
	width: 32px;
}
.box-sidebar h3 {
	font-size: 16px;
}
.menu-sidebar li {
	margin-bottom: 15px;
}
.menu-sidebar li .thumb {
	max-width: 18px;
}
.menu-sidebar .article-title {
	font-weight: 400;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
	color: #5a5a5a;
}
.sidebar-heading {
	padding: 10px 15px;
	background: #2196f3;
	color: #fff;
	border-radius: 3px;
}
.page-article .title-bar h1{
	font-size: 32px;
}
.article-content h2 {font-size: 24px;}
.article-content h3 {font-size: 20px;}
.article-content h4 {font-size: 18px;}
.article-content h5 {font-size: 16px;}
.home-featured-block {
	margin-bottom: 30px;
}
.navbar-nav > li.nav-item > a {
    display: block;
    padding: .5rem 1rem;
	color: rgba(0,0,0,.5);
}
.nav-item >.dropdown-menu>li>a {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.nav-item >.dropdown-menu>li>a:focus, .nav-item >.dropdown-menu>li>a:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
.box-sidebar.menu-sidebar {
    background: #fff;
	font-family: 'Open sans';
	margin-bottom: 25px;
}
.box-sidebar.menu-sidebar ul {
	padding: 5px 15px;
}
.main-content {
	background: #fff;
	padding: 15px 35px;
}
ul.pagination-n li {
	float: left;
}
ul.pagination-n li a{
	width: 28px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #0088cc;
	border-radius: 99px;
	color: #0088cc;
	display: block;
	margin: 0 3px;
}
ul.pagination-n li a:hover,ul.pagination-n li a:focus {
	background: #0088cc;
	color: #fff;
}
ul.pagination-n li.prev a,ul.pagination-n li.next a,ul.pagination-n li.last a{
	width: auto;
	padding: 0px 8px;
}
.white-bg {
	background: #fff;
}
.affiliate-page {
	padding: 30px 0;
}
.affiliate-page .tab-pane {
	border: 1px solid #ddd;
	padding: 15px;
}
.affiliate-page .tab-pane i.fa {
	font-size: 14px;
}
.tooltip {
	opacity: 1;
}
h2 .btn.btn-link {
	width: 100%;
	text-align:left;
	font-size: 14px;
}
h2 .btn.btn-link:hover,h2 .btn.btn-link:focus {
    color: #0056b3;
    text-decoration: none;
}
.card {
	margin-bottom: 1px;
}
.card-header {
	padding: .35rem 1rem;
}