.currentLink {
	float: left;
	display: inline-block;
	background-color: #23CCEF;
    border: 0;
    color: #FFFFFF;
    padding: 7px 13px;
	display: inline-block;
	border-radius: 25px;
}

.paginationLink {
	float: left;
	
}
.currentLink a, .paginationLink a {
	background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 25px;
    color: #797979;
    padding: 7px 13px;
	display: inline-block;
	margin: 0 2px;
	height: 38px;
}
.btn-nopadding {
	padding: 8px 0;
}
.package-item {
	margin-bottom: 5px;
}
.color_green {color: #2ecc71}
.color_blue {color: #2980b9}
.color_red {color: #e74c3c}
.color_grey {color: #7f8c8d}